<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>testmavenwebproject</display-name>
  <welcome-file-list>
    <welcome-file>ip</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>globalIpRange</param-name>
    <param-value>10.8.38.1-10.8.38.100</param-value>
  </context-param>
  <context-param>
    <param-name>globalEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>UserLoginServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServletName</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SysInitServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.SysInitServlet</servlet-class>
    <init-param>
      <param-name>ipRange</param-name>
      <param-value>10.8.38.1-10.8.38.100</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IPLimitedServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.IPLimitedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IPLimitedServletName</servlet-name>
    <url-pattern>/ip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserShowAllServlet</display-name>
    <servlet-name>UserShowAllServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShowAllServlet</servlet-name>
    <url-pattern>/UserShowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindById</display-name>
    <servlet-name>UserFindById</servlet-name>
    <servlet-class>cn.tedu.servlet.UserFindById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindById</servlet-name>
    <url-pattern>/UserFindById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserByPageServlet</display-name>
    <servlet-name>FindUserByPageServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.FindUserByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserByPageServlet</servlet-name>
    <url-pattern>/FindUserByPageServlet</url-pattern>
  </servlet-mapping>
</web-app>