<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>testmavenwebproject</display-name>
  <welcome-file-list>
    <welcome-file>ip</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>globalIpRange</param-name>
    <param-value>10.8.38.1-10.8.38.100</param-value>
  </context-param>
  <context-param>
    <param-name>globalEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>UserLoginServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServletName</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SysInitServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.SysInitServlet</servlet-class>
    <init-param>
      <param-name>ipRange</param-name>
      <param-value>10.8.38.1-10.8.38.100</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IPLimitedServletName</servlet-name>
    <servlet-class>cn.tedu.servlet.IPLimitedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IPLimitedServletName</servlet-name>
    <url-pattern>/ip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserShowAllServlet</display-name>
    <servlet-name>UserShowAllServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShowAllServlet</servlet-name>
    <url-pattern>/UserShowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindById</display-name>
    <servlet-name>UserFindById</servlet-name>
    <servlet-class>cn.tedu.servlet.UserFindById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindById</servlet-name>
    <url-pattern>/UserFindById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserByPageServlet</display-name>
    <servlet-name>FindUserByPageServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.FindUserByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserByPageServlet</servlet-name>
    <url-pattern>/FindUserByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameServlet</display-name>
    <servlet-name>CheckNameServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.CheckNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameServlet</servlet-name>
    <url-pattern>/CheckNameServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.tedu.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>cn.tedu.filter.CheckLoginFilter</filter-class>
    <init-param>
      <param-name>checkSessionKey</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>redirectURL</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>notCheckURL</param-name>
      <param-value>/login.jsp;/register.jsp;/login;/register;/register.js;/CodeServlet;/CheckNameServlet;/js/common/jquery-3.2.1.min.js</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>cn.tedu.listener.OnLineListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.tedu.listener.OnLineUserListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ExportExcelServlet</display-name>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/ExportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>